/* Colors */
:root {
    --color-primary-white: rgb(240, 240, 240);
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 10px;
    padding: 50px;
    font-family: 'Poppins';
  }
  
  .card {
    width: 22rem;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: var(--color-primary-white);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;;
  }
  
  .card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .card h4,
  .card p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }
  
  .card h4.role {
    inset: auto auto 150px 30px;
    line-height: 1rem;
  }
  .card h4.genre {
    inset: auto auto 125px 30px;
    line-height: 1rem;
  }
  
  .card p {
    inset: auto auto 40px 30px;
    color: inherit;
    line-height: 1rem;
    margin: 0;
  }
  
  .card:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
  }
  
  .card:hover h4,
  .card:hover p {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in-out;
  }
  
  .card:hover img {
    transition: opacity 0.3s ease-in;
    filter: blur(2px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  